.info-modalbody-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-modalbody-header {
  display: flex;
  flex-direction: row;
}

.info-modalbody-body{

}