.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  width: 40%;
  gap: 100px;

}

.header-cta-btns-wrapper {
  display: flex;
  gap: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}