.info-modalbody-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-modalbody-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.info-modalbody-body{

}

.exit-btn{
  cursor: pointer;
}