body {
  background: #6878B8;
  font-family: 'Merriweather Sans', sans-serif;
}

/* 
Colours:
- BG: #6878B8
- Secondary: #E6ECF7 or #F4F7FB
- Missing letter: #99A8C4
- Found letter: #F0C845
- Correct letter: #1cb18e
- GameCell border & key bg: #D0D9E8
- GameCell bg: #ffffff
 */